
.settings button:hover {
    opacity: .6;
    background-color: #e7e7e7;
}
.settings button {
    cursor: pointer;
    transition: .6s;
    border-radius: 6px;
    padding: 6px;
}
.settings button:focus {
    outline: none;
}

.settings button, .settings img{
    border: none;
    background-color: transparent;
}
.settings img {
    width: 60%;
}
.settings {
    z-index: 0;
    position: absolute;
    background-color: #F8F8FB;
    justify-content: end;
    display: grid;
    opacity: 0;
    width: calc(100% + 60px);
    left: -30px;
    grid-auto-flow: column;
    column-gap: 12px;
    box-sizing: border-box;
    top: 0;
    padding: 6px 12px;
    transition: .6s;
}
 ul:not(:first-child):hover .settings{
    opacity: 1;
}


